<header>
    <h1>burgers!</h1>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul>
                    {{#each burger}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>

                <h2>burgers that are eated!</h2>

                <ul>
                    {{#each burger}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <section id="input">
        <h2>Add a burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="ca">burger Name:</label>
                <input type="text" id="ca" name="name">
            </div>

            <div class="form-group">
                <label for="sleepy">Sleepy?</label><br>
                <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
                <input type="radio" name="sleepy" value="0"> Awake
            </div>

            <button type="submit">Add burger</button>
    </section>
    </form>
</main>